@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Auth> L
@inject LocalizationService Localization

@attribute [Authorize]

<PageTitle>@L["Auth"]</PageTitle>

<h1>@L["You are authenticated"]</h1>

<AuthorizeView>
    @L["Hello"] @context.User.Identity?.Name!
</AuthorizeView>
