@if (RendererInfo.IsInteractive){

<video id="background-video-1" class="background-video" autoplay muted preload="auto" playsinline></video>
<video id="background-video-2" class="background-video" autoplay muted preload="auto" playsinline></video>
<div id="video-info"></div>

<script src="js/background-video.js"></script>

}else{
    @* show still image from pexel of video-1 in EXACTLY the same dimension.  The image should be kept as cached file as part of the data seeding *@
}
