@page "/files"

<PageTitle>File List</PageTitle>

@inject BlazorIW.Client.Services.FileService FileService

<h1>Files under wwwroot</h1>

@if (files == null)
{
    <p>Loading...</p>
}
else if (!files.Any())
{
    <p>No files found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Path</th>
                <th>Attributes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in files)
            {
                <tr>
                    <td>@file.Path</td>
                    <td>@file.Attributes</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<WebRootFileInfo>? files;

    protected override async Task OnInitializedAsync()
    {
        files = await FileService.GetFilesAsync();
    }
}
