@page "/"
@rendermode InteractiveWebAssembly
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> L
@inject LocalizationService Localization

<PageTitle>@L["Home"]</PageTitle>

<h1 id="homeTitle">@L["Thank you coop"]</h1>

<BackgroundVideo/>
