h1 {
    position: absolute;
    top: 10vh;
    left: 20%;
    font-size: 6vw;
  color: rgba(255, 255, 255, 0.2);
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    z-index: 1;
    margin: 0;
}
@media (max-width: 640.98px) {
#homeTitle {
  display: none;
}
}
@media (min-width: 641px) {
#homeTitle {
  display: block;
}
}
/* Ensure the page container is positioned correctly for absolute centering */
:host {
    position: relative;
    display: block;
    min-height: 30vh;
}
