@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IJSRuntime JS
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LangSwitchButton />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _first = true;

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_first)
        {
            _first = false;
            bool isHome = NavManager.ToBaseRelativePath(NavManager.Uri) == string.Empty;
            await JS.InvokeVoidAsync("setHomeVideoVisible", isHome);
        }
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        bool isHome = NavManager.ToBaseRelativePath(e.Location) == string.Empty;
        await JS.InvokeVoidAsync("setHomeVideoVisible", isHome);
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= OnLocationChanged;
    }
}

